.large-hero {
  position: relative;

  &__img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
    margin: 0;
  }

  &__title {
    position: relative;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-transform: lowercase;
    z-index: 10;
    margin: 0;
    margin-top: -11rem;
    z-index: 0;
  }

  @media (min-width: 530px) {
    &__title {
      font-size: 4.8rem;
    }
  }

  &__text {
    font-size: 1.1rem;
  }

  @media (min-width: 530px) {
    &__text {
      font-size: 2.2rem;
    }
  }

}


.home-slider-container {
  position: relative;
  display: inherit;
  height: auto;
  /* max-height: 500px; */
  margin-top: -160px;
}


.home-slider {
  width: 100vw !important;
  width: 100% !important;
}


@media (min-width: 800px) {
  .home-slider .slick-slider {
    max-height: 850px;
  }
}


@media (min-width: 800px) {
  .home-slider .slick-list {
    max-height: 750px;
    /*
    border-bottom: 5px solid $mainBlue;
    */
  }
}

.home-slider .slick-slide {
  padding: 0.0rem;
}


.home-slider .slick-slide img {
  width: 100vw;
  object-fit: cover;
  object-position: center center;
  min-height: 500px;
}


.home-slider img {
  object-fit: cover;
  object-position: center center;
  min-height: 500px;
}


.home-slider__text {
  position: relative;
  object-fit: inherit !important;
  width: 80% !important;
  font-size: 1.4rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.70);
  color: #ffffff;
  margin: 0 auto;
  margin-top: -120px;
  z-index: 1;
}


.home-slider__claim-container {
  position: relative;
  width: 100% !important;
  /* border-bottom: 3px solid $mainBlue; */
  z-index: 1;
}

@media (min-width: 800px) {
  .home-slider__claim-container {
    position: relative;
  }
}


.home-slider .slick-slide img.home-slider__claim {
  position: relative;
  min-height: inherit;
  width: 90%;
  object-fit: initial;
  object-fit: contain !important;
  -webkit-filter: drop-shadow(2px 2px 6px black);
  filter: drop-shadow(2px 2px 6px black);
  margin: 0 auto;
  margin-top: -120px;
  padding-bottom: 0.5rem;
}


@media (min-width: 800px) {
  .home-slider .slick-slide img.home-slider__claim {
    min-height: inherit;
    width: 25% !important;
    margin-top: inherit;
    bottom: 25px;
  }
}


.home-slider .slick-dots {
  position: relative;
  padding-top: 5px;
}


.slider-banner {
  position: relative;
  display: block;
  text-align: center;
}

@media (min-width: 800px) {
  .slider-banner {
    position: absolute;
    bottom: -20px;
    right: 50px;
  }
}


.slider-banner .btn--red {
  width: 80%;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.15rem;
}

@media (min-width: 800px) {
  .slider-banner .btn--red {
    width: inherit;
  }
}


.slider-banner a {

}