.large-hero {
  position: relative;

  &__img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
    margin: 0;
  }

  &__title {
    position: relative;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-transform: lowercase;
    z-index: 10;
    margin: 0;
    margin-top: -11rem;
    z-index: 0;
  }

  @mixin atSmall {
    font-size: 4.8rem;
  }

  &__text {
    font-size: 1.1rem;
  }

  @mixin atSmall {
    font-size: 2.2rem;
  }
}


.home-slider-container {
  position: relative;
  display: block;
  height: auto;
  max-height: 500px;
  margin-top: -140px;
}



.home-slider.slick-slider {

}


.home-slider {
  width: 100vw !important;
  width: 100% !important;
}



.home-slider .slick-slider .slick-track {
  border-bottom: 5px solid $mainBlue;
}


.home-slider .slick-slide {
  padding: 0.0rem;
}


.home-slider .slick-slide img {
  width: 100vw;
  object-fit: cover !important;
}

.home-slider img {
  object-fit: cover !important;
}


.home-slider__text {
  position: relative;
  object-fit: inherit !important;
  width: 80% !important;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
  margin-top: -120px;
  z-index: 1;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.70);
}


.home-slider__claim-container {
  position: relative;
  width: 100% !important;
  z-index: 1;
}


.home-slider__claim {
  position: relative;
  object-fit: initial !important;
  width: 25% !important;
  margin: 0 auto;
  margin-top: -120px;
}



.home-slider .slick-dots {
  position: relative;

  padding-top: 5px;
}