.overview-sizes {
	padding-top: 2.0rem;
	padding-bottom: 2.0rem;
}


.overview-sizes figcaption {
	position: relative;
	top: -50px;
	font-size: 1.2rem;
	font-weight: 300;
	color: $brightWhite;
	text-align: center;
	text-transform: uppercase;
}