.wrapper {
	padding-left: 18px;
	padding-right: 18px;


	&--medium {
		max-width: 976px;
	}


	&--narrow {
		max-width: 470px;
	}
}


.content-wrapper {
	margin-left: 18px;
	margin-right: 18px;
}


.fullwith-wrapper {
	width: 100vw;
	overflow: hidden;
	margin-left: -18px !important;
	padding-left: 18px !important;
	padding-right: 18px !important;
}


@media (min-width: 800px) {
	.fullwith-wrapper {
		margin-left: -36px !important;
		padding-left: 54px !important;
		padding-right: 36px !important;
	}
}